<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/sony_icon.png" type="image/png">
    <title>Welcome User</title>
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/searchIcon.css">
    
    <style>
			table {
			 
			  width: 30%;
			}
			
			th, td {
			  padding: 8px;
			  text-align: left;
			  border-style:hidden;
			 
			}
			
			tr:hover {background-color: blue;}
	</style>
    
</head>

<body>
    <div class="navigation_bar">
        <div class="nav_icon"><a th:href="home"><img src="/images/sony_icon.png" alt="Icon"></a></div>
        <div class="nav_tab" id="nav_tab">
            <span class="close"><img src="/images/close.png" alt="" onclick="closeMenu()"></span>
            <ul>
                <li class="temp"></li>
                <li><a href="home">Home Page</a></li>
                <li><a href="#">Originals</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Premium</a></li>
                <li><a href="#">Games</a></li>
                <li><a th:href="logout" onclick="return confirm('Do you really want to Logout?');" >Logout</a></li>
                <li> 
    		</li>
            </ul>
            <!-- <a title="Sign in" th:href="signin" class="f1"><img src="/images/Signin.png" alt="signin"></a>
            <span class="f2"><a href="signin.html" class="f2">Sign In</a></span> -->
             
            
        </div>
        <span class="menubar" id="menubar"><img src="/images/menubar2.png" alt="" onclick="showMenu()"></span>
    </div>
    
    
   
    <br><br><br><br>
    
    <br><br>
    
    <div th:object="${movies}">
    	<h3 style="color:white; text-decoration:underline; text-align:center">Movies of <span th:text="${movies.get(0).getActorName()}"></span></h3>
    </div>
    <table>
		  <thead>
		    <tr>
		      <th ></th>
		     
		      <th ></th>
		      
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="movie:${movies}">
		    	<td th:text="${movie.movieName}"></td>
		    
		    	<td th:text="${movie.language}"></td>
		    </tr>
		    
		  </tbody>
		  <tfoot>
		  	<tr>
		  		<td><button onclick="history.back()">Go Back</button></td>
		  		<td></td>
		  	</tr>
		  </tfoot>
	</table>
	
	
    
    
    <script src="/js/script.js"></script>
  
</body>
</html>